a {
  position: relative;
  color: inherit;
  text-decoration: none;
  z-index: $modules;
  font-size: inherit;
  padding: 2px 5px;
  background-size: 100% 100%;
  background-position: center center;
  border-radius: 5px;
  z-index: $modules;
  transition: background .15s $transition-fast;
}

a, input[type="submit"] {
  &.cta {
    position: relative;
    display: inline-block;
    text-decoration: none;
    max-height: 3em;
    line-height: 3em;
    padding: 0 var(--fvt-inner-spacing);
    box-shadow: none;
    text-transform: uppercase;
    letter-spacing: .15em;
    border-radius: 5px;
    cursor: pointer;
    z-index: $modules;

    transition: 
      background-color .3s $transition-fast,
      box-shadow .2s $transition-fast;

    &.icon-left {
      padding-left: calc(var(--fvt-inner-spacing) / 1.15);
    }

    &.icon-right {
      padding-right: calc(var(--fvt-inner-spacing) / 1.15);
    }

    &:hover {
      box-shadow: $box-shadow-medium;
    }

    &:active {
      box-shadow: $box-shadow-low;
    }
  }
}